<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Menú Admin</title>
    <link rel="stylesheet" href="{% static 'css/menu_u.css' %}">
</head>
<body>
    <h1>Reserva Hotelera - Menú Administrativo</h1>
    <ul>
        <li><a href="{% url 'create_user' %}">Crear Usuario</a></li>
        <li><a href="{% url 'del_user' %}">Eliminar Usuario</a></li>
        <li><a href="{% url 'edit_user' %}">Editar Usuario</a></li>
        <li><a href="#">Ver Reservas</a></li>
        <li><a href="{% url 'home' %}">Cerrar Sesión</a></li>
    </ul>
    
</body>
</html>