<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Menú Usuario</title>
    <link rel="stylesheet" href="{% static 'css/recovery.css' %}">
</head>
<body>
    <h1>Reserva Hotelera - Menú Usuario</h1>
    <ul>
        <li><a href="{% url 'disponibilidad' %}">Disponibilidad de Habitaciones</a></li>
        <li><a href="{% url 'ver_hab' id=1 %}">Ver Habitación</a></li>
        <li><a href="{% url 'consultar_reserva' %}">Consultar Reserva</a></li>
        <li><a href="#">Modificar Reserva</a></li>
        <li><a href="#">Cancelar Reserva</a></li>
        <li><a href="#">Contacto Hotel</a></li>
        <li><a href="#">Cerrar Sesión</a></li>
    </ul>
    </body>
</html>