<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Menú Usuario</title>
    <link rel="stylesheet" href="{% static 'css/menu_u.css' %}">
</head>
<body>
    <h1>Reserva Hotelera - Menú Usuario</h1>
    <ul>
        <li><a href="{% url 'disponibilidad' %}">Disponibilidad de Habitaciones</a></li>
        <li><a href="{% url 'ver_hab' %}">Ver Habitación</a></li>
        <li><a href="{% url 'consultar_reserva' %}">Consultar Reserva</a></li>
        <li><a href="{% url 'modificar_reserva' %}">Modificar Reserva</a></li>
        <li><a href="{% url 'cancelar_reserva' %}">Cancelar Reserva</a></li>
        <li><a href="{% url 'contacto' %}">Contacto Hotel</a></li>
        <li><a href="{% url 'home' %}">Cerrar Sesión</a></li>
    </ul>
    </body>
</html>