<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Modificar Reserva</title>
</head>
<body>
    <h1>Reserva Hotelera - Modificar Reserva</h1>
    <form method="post">
        {% csrf_token %}
        <label for="habitacion">Habitación:</label>
        <select id="habitacion" name="habitacion">
            <option value="1">Habitación 1</option>
            <option value="2">Habitación 2</option>
            <option value="3">Habitación 3</option>
        </select><br><br>

        <label for="horario">Horario:</label>
        <input type="time" id="horario" name="horario"><br><br>

        <label for="contraseña">Contraseña:</label>
        <input type="password" id="contraseña" name="contraseña"><br><br>

        <button type="submit">Modificar Reserva</button>
    </form>
    <a href="{% url 'menu_u' %}">Volver a Menú</a>
</body>
</html>