<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperación de Contraseña - Reserva Hotelera</title>
    <link rel="stylesheet" href="{% static 'css/recovery.css' %}">
</head>
<body>
    <form action="{% url 'recovery_password' %}" method="post">
        {% csrf_token %}
        <label for="email">Correo Electrónico:</label>
        <input type="email" id="email" name="email" required>
    
        <button type="submit">Enviar Código de Recuperación</button>
    </form>
</body>
</html>